@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;

}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

header {
        position: relative;
        display: block;
        top: 13px;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50%;
}



.container1{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.486)
    ,rgba(29, 29, 29, 0.486)),url(./img/mod6.jpg);

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -80px;
}

/* HEADER */

.content nav a{
    transition: all 200ms ease-in;
}

.content nav a:hover {
    background-color: #181818;
    border-radius: 75%;
    border: 2px solid #d64953;
    color: #fcfbfb;
}

.list{
    display: flex;
    margin: auto;
}

.content .list a{
    padding: 10px;
    color: #181818;
    font-size: 20px;
    font-weight: bold;
    
}

.content .list img{
    width: 10%;
}

.content .list li{
    text-align: center;
    margin: auto;
}

.navban{
    display: flex;
    width: 800px;
    height: 80px; 
    background-color: #eeeeee;
    text-decoration: underline #d64953;
    color: #181818;
    border-radius: 100px;
    position: relative;
    margin: auto;

}

.img-banner1{
    height: 100vw;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sect1{
    padding-top: 95px;
}

/* CONTAINER */

main > .container1 .sect1 .secban{
    margin: auto;
    height: 80vh;
    width: 95%;
    background-color: #ffffff21;
    margin-top: 25px;
    border-radius: 15px;
    display: flex;
    border: 3px solid #eeeeee;
}

.titlep{
    font-size: 4rem;
    text-align: center;
    color: #181818;
    font-weight: bold;
    width: 500px;
    margin: auto;
    margin-top: 29px;
    background-color: #eeeeee;
    padding: 15px;
    border-radius: 100px;
    text-decoration: underline #d64953;
    
}

.sec-lan{
    width: 100%;
    height: 57vh;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.move-t{
    position: relative;
    top: 1px;
    left: -24px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
}
.pos-lan{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0px;

}

.lan1{
    height: 400px;
    width: 600px;
    background-color: #f9f0e694;
    margin-left: 80px;
    border-radius: 25px;
  
}

.lan2{
    height: 400px;
    width: 600px;
    background-color: #f9f0e694;
    border-radius: 25px;
    
}

.pos-lan .inf-oc1 h1{
    color: #000000;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
}

.pos-lan .inf-oc2 h1{
    color: #000000;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
}

.img1{
    margin-left: 145px;
    margin-top: -32px;
}

.img2{
    margin-left: 155px;
    margin-top: -5px;
}



.sec-lan .pos-lan .inf-oc1 ul{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    margin-top: 55px;
    
}
.sec-lan .pos-lan .inf-oc1 ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #181818be;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 15px;
    border: 2px solid #d64953;
}

.sec-lan .pos-lan .inf-oc1 > ul > li > img{
    width: 90%;

}

.sec-lan .pos-lan .inf-oc2 ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #181818be;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 15px;
    border: 2px solid #d64953;
}

.sec-lan .pos-lan .inf-oc2 ul{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
    margin-top: 55px;

}

.sec-lan .pos-lan .inf-oc2 > ul > li > img{
    width: 90%;

}

/* CONTAINER 2 */

.container2{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.486)
    ,rgba(29, 29, 29, 0.486)),url(img/mod2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ul-blu{
    height: 400px;
    width: 100%;
    display: flex;
}

.sec2 .ul-blu li{
    width: 400px;
    height: 400px;
    background-color: #f9f0e694;
    margin: 10px;
    display: flex;
    align-items: center;
}

.border3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -116px;
}

.sec2 .ul-blu li img{
    width: 50%;
}


@media(max-width:1920px){

    main > .container1 .sect1 .secban{
        height: 75vh;
        margin-left: 35px;
    }

    .sec-lan .pos-lan .inf-oc2 ul {
        margin-top: 10px;
    }

    .sec-lan .pos-lan .inf-oc1 ul {
        margin-top: 10px;
    }

    .sec-lan .pos-lan .inf-oc1 ul > li{
        width: 120px;
        height: 120px;
    }

    .pos-lan{
        margin-top: -100px;
    }

    .sec-lan .pos-lan .inf-oc1 > ul > li > img{
        width: 90%;
    }
    .sec-lan .pos-lan .inf-oc2 ul > li{
        width: 120px;
        height: 120px;
    }
    .sec-lan .pos-lan .inf-oc2 > ul > li > img{
        width: 90%;
    }

    .lan1{
        width: 800px;
        height: 500px;
        margin: auto;
    }
    .lan2{
        width: 800px;
        height: 500px;
        margin: auto;
    }

    .img1{
        margin-left: 200px;
        margin-top: -60px;
    }
    .img2{
        margin-left: 200px;
        margin-top: -20px;
    }


}

@media(max-width:1670px){
    main > .container1 .sect1 .secban{
        margin-left: 33px;
        max-width: 1920px;
        height: 75vh;
    }
    .pos-lan{
        margin-left: -51px;
        justify-content: space-between;
        margin: auto;
    }

    .lan1{
        width: 500px;
        margin: auto;
    }
    .lan2{
        width: 500px;
        margin: auto;
    }

    .img-oc1{
        max-width: 300px; /* Define o tamanho máximo da imagem */
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
    }

    .img1{
        width: 100%; /* A imagem ocupará 100% da largura do container */
        height: auto; /* A altura será ajustada automaticamente para manter a proporção original */
        display: block;
        margin-left: 2px;
    }
   
    .img-oc2{
        max-width: 300px; 
        margin: 0 auto; 
    }
    .img2{
        width: 100%; 
        height: auto; 
        display: block;
        margin-left: 22px;
    }

}

@media(max-width:1526px){

}

@media(max-width:1526px){
  
}

@media(max-width:1366px){
}

@media(max-width:1276px){
    
}